<div class="buy-button" ng-class="{'track-buy-button': trackBuyButton,'loading':downloading, 'in-cart': isDownloaded(track.id), 'opened':lunch}">
    <button class="add-to-default wav" ng-click="download();$event.stopPropagation();" ng-show="track.fileFormat == 'riff'">WAV</button>
    <button class="add-to-default stem" ng-click="download();$event.stopPropagation();" ng-show="track.fileFormat == 'mp4'">STEM</button>
    <button class="add-to-default mp3" ng-click="download();$event.stopPropagation();" ng-show="track.fileFormat == 'mp3'">MP3</button>
    <button class="add-to-default mp3" ng-click="download('mp3');$event.stopPropagation();" ng-show="track.fileFormat == 'riff'">MP3</button>

    <button class="launch-menu" ng-click="lunchMenu()" ng-show="isLogged">
        <div class="launch-menu-icon">
          <svg viewBox="0 0 200 200" class="icon">
            <use xlink:href="/static/images/defs.svg#icon-chevron-down"/>
          </svg>
        </div>
        <div class="loading-menu-icon">
          <div class="icon"></div>
        </div>
    </button>
    <div ng-show="lunch" class="buy-button-menu">
        <button ng-show="!track.isFavorite" class="add-new-cart add-to-fav" ng-click="addFavorite()">
            <svg viewBox="0 0 200 200" class="cart-menu-default-icon"><use xlink:href="/static/images/defs.svg#icon-star"/></svg>
                Add to favorites
        </button>
        <button ng-show="track.isFavorite" class="add-new-cart" ng-click="removeFavorite()">
            <svg viewBox="0 0 200 200" class="cart-menu-default-icon"><use xlink:href="/static/images/defs.svg#icon-star"/></svg>
                Remove from favorites
        </button>
   </div>
</div>