<div class="filter-parent filter-artists-parent filter-standard-parent filter-twocol-parent" ng-class="{'filter-parent-active': isActive(), 'on-touch': isTouched}">
<a href="javascript:void(0)" class="filter-link filter-artists-link" ng-click="linkClick()">Artists</a>
  <div class="filter-drop filter-artists-drop">
    <a ng-click="resetArtist()" href="javascript:void(0)" class="filter-drop-reset-link">Reset</a>
    <ul class="filter-artists-drop-list">
    	<li class="filter-type-drop-list-item" ng-repeat="artist in artists">
			<input ng-change="selectArtists()" type="checkbox" name="activeArtists[]" ng-false-value="0" ng-true-value="1" ng-model="artist.checked" id="fg-artist-{{artist.id}}" class="filter-drop-checkbox">
			<label for="fg-artist-{{artist.id}}" class="filter-drop-checkbox-label">{{artist.name}} <span class="filter-item-count">{{artist.cnt}}</span></label>
		</li>
    </ul>
  </div>
</div>