<div class="filter-parent filter-released-parent filter-standard-parent filter-twocol-parent" ng-class="{'filter-parent-active': isActive()}">
  <a href="javascript:void(0)" class="filter-link filter-released-link">Release date</a>
  <div class="filter-drop filter-released-drop">
    <a ng-click="resetDate()" href="javascript:void(0)" class="filter-drop-reset-link">Reset</a>
    <div class="filter-released-date-links">
       <a href ng-click="setDate('0d')" ng-class="{'active': releasedLast == '0d'}" class="filter-released-date-link">Today</a>
       <a href ng-click="setDate('1d')" ng-class="{'active': releasedLast == '1d'}" class="filter-released-date-link">Yesterday</a>
       <a href ng-click="setDate('7d')" ng-class="{'active': releasedLast == '7d'}" class="filter-released-date-link">Last 7 Days</a>
       <a href ng-click="setDate('30d')" ng-class="{'active': releasedLast == '30d'}" class="filter-released-date-link">Last 30 Days</a>
     </div>
     <div class="filter-released-date-range">
        <div class="fieldset-wrapper">
          	<input ng-focus="visibilityStart = true;visibilityEnd = false" ng-model="startDate" class="filter-released-date-start picker__input" placeholder="START" type="text">
	    </div>
        <span class="filter-released-date-range-inbetween">to</span>
        <div class="fieldset-wrapper">
          <input ng-focus="visibilityEnd = true;visibilityStart = false" ng-model="endDate" class="filter-released-date-end picker__input" placeholder="END" type="text">
        </div>
        <a href ng-click="dateApply()" class="filter-release-apply-button">APPLY</a>
      </div>
      <div class="filter-released-date-picker-container">
      	<div class="picker" ng-class="{'picker--opened':visibilityStart}">
	    	<datepicker datepicker-show="{visibilityStart}" button-prev="<div class='picker__nav--prev'></div>" button-next="<div class='picker__nav--next'></div>" date-format="yyyy-MM-dd" datepicker-class="picker__holder">
	        	<input class="hidden" ng-model="startDate" type="text">
	        </datepicker>   
	        <div class="picker__footer">
	        	<button class="picker__button--today" type="button" ng-click="startDate = today()">Today</button>
	        	<button class="picker__button--clear" type="button" ng-click="startDate = null">Clear</button>
        	</div>   	
      	</div>
      	<div class="picker" ng-class="{'picker--opened':visibilityEnd}">
	    	<datepicker datepicker-show="{visibilityEnd}" button-prev="<div class='picker__nav--prev'></div>" button-next="<div class='picker__nav--next'></div>" date-format="yyyy-MM-dd" datepicker-class="picker__holder">
	        	<input class="hidden" ng-model="endDate" type="text">
	        </datepicker>     
	        <div class="picker__footer">
	        	<button class="picker__button--today" type="button" ng-click="endDate = today()">Today</button>
	        	<button class="picker__button--clear" type="button" ng-click="endDate = null">Clear</button>
        	</div>   	   	
      	</div>
      </div>
  </div>
</div>