<div class="pagination-container">
  <div class="pag-num-list-container">
      <a href ng-if="currentPage > 1 && totalPages > 1" ng-click="selectPage(currentPage - 1, $event)" class="pag-prev" uib-tabindex-toggle><span class="icon icon-scroll-left"></span></a>
      <div class="pag-numbers" ng-if="totalPages > 1">
          <a ng-repeat="page in pages track by $index" class="pag-number" ng-class="{'pag-number-current': page.active, disabled: ngDisabled &&!page.active}" href ng-click="selectPage(page.number, $event)" ng-disabled="ngDisabled&&!page.active" uib-tabindex-toggle>{{page.text}}</a>
      </div>
      <a href ng-if="currentPage < totalPages" ng-click="selectPage(currentPage + 1, $event)" class="pag-next"  uib-tabindex-toggle><span class="icon icon-scroll-right"></span></a>
  </div>  
  <div class="pag-jump-to-container">
    <h3>Jump to page</h3>
    <input class="pag-jump-to-input" ng-model-options="{updateOn : 'change blur'}" ng-change="selectPage(currentPage, $event)" ng-model="currentPage" placeholder="{{currentPage}}" type="text">
  </div> 

  <div class="pag-results-per-container">    
    <h3>Results per page</h3>
    <a href ng-click="setItemsPerPage(25)" ng-class="{'results-per-link-active': itemsPerPage == 25}" class="pag-results-per-link">25</a>
    <a href ng-click="setItemsPerPage(50)" ng-class="{'results-per-link-active': itemsPerPage == 50}" class="pag-results-per-link">50</a>
    <a href ng-click="setItemsPerPage(100)" ng-class="{'results-per-link-active': itemsPerPage == 100}" class="pag-results-per-link">100</a>
    <a href ng-click="setItemsPerPage(150)" ng-class="{'results-per-link-active': itemsPerPage == 150}" class="pag-results-per-link ">150</a> 
    <h3>Only wav</h3>
    <a href ng-click="toggleOnlyWav()" ng-class="{'pre-order-toggle-active': onlyWav == 'on'}" class="pre-order-toggle">{{onlyWav}}</a> 
  </div>
</div>