<!-- Mobile Search -->
 <a onclick="toggleSearch()" href="javascript:void(0)" class="mobile-search-launch-link" style="">
   <svg viewBox="0 0 200 200" class="head-search-icon">
     <use xlink:href="/static/images/defs.svg#icon-search"></use>
   </svg>
 </a>
 <div class="mobile-search-parent">
   <div class="mobile-search">
     <input ng-model="search" placeholder="SEARCH..." class="mobile-search-input" type="search">
   </div>
   <a onclick="toggleSearch()" href="javascript:void(0)" class="mobile-cancel-search-link" style="">Cancel</a>
 </div>
 <!-- End Mobile Search -->

<div class="head-search-parent">
  <div class="head-search">
    <svg viewBox="0 0 200 200" class="head-decorative-search-icon">
      <use xlink:href="/static/images/defs.svg#icon-search"></use>
    </svg>
    <span class="twitter-typeahead" style="direction: ltr;">
    <input class="head-search-input tt-hint" style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;" readonly="" autocomplete="off" spellcheck="false" tabindex="0" type="search">
    <input ng-keypress="initiateAutoSearch()" ng-keydown="initiateAutoSearch()" ng-keyup="initiateAutoSearch()" ng-model="search" placeholder="SEARCH..." class="head-search-input tt-input" autocomplete="off" spellcheck="false" dir="auto" type="search">
    	<span class="tt-dropdown-menu" tabindex="0" style="display:{{toggleAutoSearch}};">
    		<div class="tt-dataset-default">
    			<div ng-show="searchData.artists" class="tt-suggestion tt-head"><h3>Artists</h3></div>
    			<a tabindex="-1" ng-click="selectedSearchResult(artist.name)" ng-href="/tracks?artists={{artist.id}}" class="tt-link tt-suggestion" ng-repeat="artist in searchData.artists">{{artist.name}}</a>
    			<div ng-show="searchData.labels" class="tt-suggestion tt-head"><h3>Labels</h3></div>
    			<a tabindex="-1" ng-click="selectedSearchResult(label.name)" ng-href="/tracks?label={{label.id}}" class="tt-link tt-suggestion" ng-repeat="label in searchData.labels">{{label.name}}</a>
    			<div ng-show="searchData.albums" class="tt-suggestion tt-head"><h3>Releases</h3></div>
    			<a tabindex="-1" ng-click="selectedSearchResult(album.name)" ng-href="/album/{{album.id}}" class="tt-link tt-suggestion" ng-repeat="album in searchData.albums">{{album.name}}</a>
    			<div ng-show="searchData.tracks" class="tt-suggestion tt-head"><h3>Tracks</h3></div>
    			<a tabindex="-1" ng-click="selectedSearchResult(track.name)" ng-href="/track/{{track.id}}" class="tt-link tt-suggestion" ng-repeat="track in searchData.tracks">{{track.name}}</a>
    		</div>
    	</span>
    </span>
  </div>
  <a onclick="toggleSearch()" href="javascript:void(0)" class="mobile-cancel-search-link" style="">Cancel</a>
</div>