<div class="buk-track-artwork-parent">
  <a ng-href="/track/{{track.id}}"><img ng-src="{{track.cover}}" class="buk-track-artwork"/></a>
</div>
<div class="buk-track-meta-parent">
  <p class="buk-track-title">
    <a ng-href="/track/{{track.id}}">
      <span class="buk-track-primary-title" title="{{track.title}}">{{track.title}}</span>
    </a>
  </p>
  <p class="buk-track-artists"><a ng-repeat="artist in track.artists" ng-href="/tracks?artists={{artist.id}}" ng-bind="artist.name + ($last ? '' : ', ')"></a></p>
  <p class="buk-track-labels"><a ng-href="/tracks?label={{track.labelId}}">{{track.label}}</a></p>
  <p class="buk-track-genre"><a ng-href="/tracks?genre={{track.genreId}}">{{track.genre}}</a></p>                            
  <p class="buk-track-released">{{track.release}}</p>                          
  <p class="buk-track-key">{{track.type}}</p>
</div>

<div class="track-actions-parent">
  <div class="track-actions">
    <div class="track-play-queue">
      <button music-player="play" add-song="track" class="playable-play track-play">
        <svg viewBox="0 0 200 200" class="play-icon"><use xlink:href="/static/images/defs.svg#icon-play"/></svg>
        <svg viewBox="0 0 100 100" class="replay-icon"><use xlink:href="/static/images/defs.svg#icon-replay"/></svg>
      </button>
      <button music-player add-song="track" class="playable-queue track-queue">
        <svg viewBox="0 0 200 200" class="queue-icon"><use xlink:href="/static/images/defs.svg#icon-add-queue"/></svg>
      </button>
      <div class="equalizer-container"></div>
    </div>
    <div ng-show="isLogged()" track="track" track-buy-button="1" download-button></div>
  </div>
  <a href class="icon icon-ellipsis track-ellipsis mobile-action"></a>
</div>