<main class="interior misc-account login-page">
	<div class="small-mid-col">
      <h1>Forgot your username or password?</h1>      
      <div class="misc-account-content">
        <p>If you've forgotten your username or password, please enter the email address associated with your account below and we will send you your username and a link to reset your password.</p>
    
        <form class="forgot-password-form" name="form" role="form" ng-submit="forgot()">          
          <input class="account-form-value account-form-value-text-box" id="email_address" name="email_address" placeholder="EMAIL ADDRESS" required ng-model="email" type="text">
          <button type="submit" value="Submit" class="forgot-password-form-button">Submit</button>
        </form>
        <p><a ng-href="/account/login">Log In</a> | <a ng-href="/account/signup">Create an account</a></p>
      </div>
    </div>
</main>